@model List<microbloggerDemoSite.Identity.IdentityUser>

<div class="row">
    <div class="col-xs-12">
        <div class="panel-group" id="usersAccordion" role="tablist" aria-multiselectable="true">
            <section class="panel panel-default">
                @{
                    foreach (var indexedUser in Model.Select((user, index) => new { index, user }))
                    {
                        bool noPosts; // True if the user has not created any posts yet.
                        if (indexedUser.user.RecentPosts == null || indexedUser.user.RecentPosts.Count == 0)
                        {
                            noPosts = true;
                        }
                        else
                        {
                            noPosts = false;
                        }

                        <div class="panel-heading" role="tab" id="@indexedUser.user.Id+Heading">
                            <h3 class="panel-title">
                                <a class="btn btn-info"
                                   href="@Url.Action("Get", "User", new { userId = indexedUser.user.Id })">
                                    <span class="glyphicon glyphicon-user"></span>
                                    @indexedUser.user.Nick
                                </a>
                                @{
                                    if (noPosts)
                                    {
                                        <span class="label label-success pull-right">...New user! Welcome!</span>
                                    }
                                    else if (indexedUser.user.RecentPosts.Count > 1)
                                    {
                                        <a role="button"
                                           class="collapsed btn btn-default pull-right"
                                           data-toggle="collapse"
                                           data-parent="#usersAccordion"
                                           href="#@indexedUser.user.Id"
                                           aria-expanded="true"
                                           aria-controls="@indexedUser.user.Id">
                                            Peek more...
                                        </a>
                                    }
                                }
                            </h3>
                        </div>

                        if (!noPosts)
                        {
                            microbloggerDemoSite.Blog.Models.Post post = indexedUser.user.RecentPosts[0];

                            <div class="panel-body">
                                <div class="pull-right">
                                    <div class="col-md-6">
                                        <h4>
                                            <a class="label label-default"
                                                href="@Url.Action("Get", "Post", new { userId = indexedUser.user.Id, postId = post.Id })">
                                                <span class="glyphicon glyphicon-link"></span>
                                                @post.Id
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4>
                                            <span class="glyphicon glyphicon-calendar"></span>
                                            @post.PublishDate
                                        </h4>
                                    </div>
                                </div>
                                <blockquote>
                                    <p class="blog-post">@post.Content</p>
                                </blockquote>
                            </div>

                            <div id="@indexedUser.user.Id"
                                    class="panel-collapse collapse"
                                    role="tabpanel"
                                    aria-labelledby="@indexedUser.user.Id+Heading">
                                <ul class="list-group">
                                    @{
                                        for (int i = 1; i < indexedUser.user.RecentPosts.Count; i++)
                                        {
                                            post = indexedUser.user.RecentPosts[i];
                                            <li class="list-group-item">
                                                <div class="pull-right">
                                                    <div class="col-md-6">
                                                        <h4>
                                                            <a class="label label-default"
                                                                href="@Url.Action("Get", "Post", new { userId = indexedUser.user.Id, postId = post.Id })">
                                                                <span class="glyphicon glyphicon-link"></span>
                                                                @post.Id
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <h4>
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                            @post.PublishDate
                                                        </h4>
                                                    </div>
                                                </div>
                                                <blockquote>
                                                    <p class="blog-post">@post.Content</p>
                                                </blockquote>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        }
                    }
                }
            </section>
        </div>
    </div>
</div>