@model microbloggerDemoSite.Models.Auth.UpdatePasswordViewModel

@{
    ViewBag.Title = "Change Password";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Security! <small>...you have the right idea!</small></h2>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken();

            <div class="form-group">
                @Html.LabelFor(m => m.CurrentPassword)
                <span class="help-block">@Html.ValidationMessageFor(m => m.CurrentPassword, null, new { @class = "label label-danger" })</span>
                @Html.EditorFor(m => m.CurrentPassword, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                <span class="help-block">@Html.ValidationMessageFor(m => m.Password, null, new { @class = "label label-danger" })</span>
                @Html.EditorFor(m => m.Password, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.PasswordRepeat)
                <span class="help-block">@Html.ValidationMessageFor(m => m.PasswordRepeat, null, new { @class = "label label-danger" })</span>
                @Html.EditorFor(m => m.PasswordRepeat, new { @class = "form-control" })
            </div>

            <br />

            <button class="btn btn-primary" type="submit">Update</button>
        }
    </div>
</div>