@model microbloggerDemoSite.Blog.Models.Post
@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Tell the world! <small>Say it, don't spray it.</small></h2>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken();

            @Html.HiddenFor(m => m.Id)

            <h4>
                <span class="glyphicon glyphicon-calendar"></span>
                @Html.DisplayFor(m => m.PublishDate)
            </h4>

            <div class="form-group">
                @Html.LabelFor(m => m.Content)
                <div class="label label-default label-danger">@Html.ValidationMessageFor(m => m.Content)</div>
                @Html.EditorFor(m => m.Content)
            </div>

            <br />

            <button class="btn btn-primary" type="submit">Submit</button>
        }
    </div>
</div>