@model microbloggerDemoSite.Models.Post.ListPostsViewModel

@{
    ViewBag.Title = "List";
}

<div class="row">
    <div class="col-xs-12">
        <h2>All the posts! <small>This person... Em I right?</small></h2>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <a class="btn btn-info"
           href="@Url.Action("Get", "User", new { userId = Model.Author.Id })">
            <span class="glyphicon glyphicon-user"></span>
            @Model.Author.Nick
        </a>
    </div>
</div>

<br />

<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
        @foreach (var item in Model.Bucket.Posts)
        {
            <li class="list-group-item">
                <div class="pull-right">
                    <div class="col-md-6">
                    <h4>
                        <a class="label label-default"
                           href="@Url.Action("Get", "Post", new { userId = Model.Bucket.AuthorId, postId = item.Id })">
                            <span class="glyphicon glyphicon-link"></span>
                            @item.Id
                        </a>
                    </h4>
                    </div>
                    <div class="col-md-6">
                        <h4>
                            <span class="glyphicon glyphicon-calendar"></span>
                            @item.PublishDate
                        </h4>
                    </div>
                </div>
                <blockquote>
                    <p class="blog-post">@item.Content</p>
                </blockquote>
            </li>
        }
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <nav>
            <ul class="pagination">
                <li>
                    <a href="@Url.Action("List", new { page = Model.Bucket.BucketNumber - 1})"
                       aria-label="Previous">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("List", new { page = Model.Bucket.BucketNumber + 1})"
                       aria-label="Next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>